{% extends "global_base.html" %}

{% block content %}
    <head>
        <title>D3</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/reqwest/2.0.3/reqwest.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <style>
		.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.dot {
  stroke: #000;
}


.legend {
	            padding: 5px;
	            font: 10px sans-serif;
	            background: yellow;
	            box-shadow: 2px 2px 1px #888;
            }
		</style>
    </head>
    <body>
        <div id=“cool-graph”></div>
        <script type="text/javascript">
{#        var myData;#}
{##}
{#        function getData() {#}
{#            var opts = {#}
{#                url: '/stats_app/summary',#}
{#                method: 'get',#}
{#                success: function (response) {#}
{#                    //debugger;#}
{#                    myData = response.data;  // todo is "data" the data for real?#}
{#                }#}
{#            };#}
{#            return reqwest(opts);#}
{#        }#}
{##}
{#        getData();#}
{##}
{#        console.log('lol wow', myData);  // will probably be undefined because it executs 2 fast#}

        var w = 600;                        //width
		var h = 500;                        //height
		var padding = {top: 40, right: 40, bottom: 40, left:40};
		var dataset;
		    //Set up stack method
		var stack = d3.layout.stack();

		d3.json('stats_app/summary',function(json){
		    dataset = json;

			    //Data, stacked
			stack(dataset);

			};


        </script>
    </body>



{% endblock %}