{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en" ng-app="app">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Committed - Get to work!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'public/js/bundled.js' %}"
</head>
<body>
<div class="navbar navbar-default navbar-static-top">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">Committed</a>
        </div>

        <ul class="nav navbar-nav">  <!-- todo rotate motivational phrases here? -->
            <li><a href="#">Get to work, please.</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

            <li><a href="#">About</a></li>
            <li><a href="#">Challenges</a></li>
            {% if user.is_authenticated %}
                <li><a>Hello, {{ user.username }}</a></li>  <!-- todo rotate fun greetings here? -->
            {% else %}
                <li><a href="#">{% url 'social:begin' 'github' %}</a></li>
            {% endif %}
        </ul>
    </div>
</div>

<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
