{% extends "main/base.html" %}


{% block content %}
    <div class="jumbotron">
        <h1>Committed</h1>
        <p>A website devoted to helping you code at a healthy pace,
        so your <a href="https://github.com/">GitHub</a> doesn't become a graveyard. Enjoy!</p>
        <p style="margin-top: 1em">
            <a href="#">Click here to login</a> or <a href="#">Sign up!</a>
        </p>
        <p>
            <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a>
        </p>
    </div>
{% endblock %}